:root {
    /* colors */
    --white: #FFFFFF;
    --dark-gray: #333333;
    --light-gray: #BDBDBD;

    /* fonts */
    --font-mono: "Space Mono", monospace;
    --font-sans: "Montserrat", sans-serif;
    --font-serif: "Inconsolata", monospace;
}

/* box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 375px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

html {
    font-size: 62.5%;
}

#header {
    padding: 2% 4%;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    color: var(--dark-gray);
    font-family: var(--font-serif);
}

footer {
    padding: 2% 4%;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--light-gray);
    font-family: var(--font-sans);
    align-self: center;
}

main {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

#scarecrow {
    padding: 3%;
    margin: 2%;
    flex: 1;
}

#scarecrow img {
    margin-left: 5%;
    width: 90%;
}

#content {
    margin: 2%;
    padding: 3%;
    font-family: var(--font-mono);
    letter-spacing: -0.035em;
    flex: 1.2;
}

#content h1 {
    font-size: 54px;
    line-height: 85px;
    text-align: left;
    color: var(--dark-gray);
}

#content p {
    font-size: 16px;
    color: #4F4F4F;
    width: 50%;
    margin-top: 5%;
}

#content button {
    width: 160px;
    height: 55px;
    margin-top: 7%;
    font-family: var(--font-mono);
    background: var(--dark-gray);
    font-size: 10px;
    line-height: 21px;
    color: var(--white);
    border-style: none;
    border-radius: 0;
}

@media screen and (max-width: 920px) {
    #content h1 {
        font-size: 40px;
        line-height: 60px;
    }

    #content p {
        margin-top: 10%;
        font-size: 16px;
        width: 70%;
    }

    #content button {
        margin: 12% 0;
    }
}

@media screen and (max-width: 700px) {
    main {
        flex-direction: column;
        margin: 5%;
    }

    #content h1 {
        font-size: 50px;
        line-height: 65px;
    }

    #content p {
        margin-top: 10%;
        font-size: 16px;
        width: 90%;
    }

    #content button {
        margin: 15% 0;
    }
}

@media screen and (max-width: 580px) {
    #content p {
        margin-top: 10%;
        font-size: 14px;
        width: 90%;
    }

    #content button {
        margin: 15% 0;
    }
}

@media screen and (max-width: 380px) {
    footer {
        font-size: 12px;
    }
}